.language-select{
    align-self: stretch;
    color: var(--body-text-color);
    align-items: center;
}
.language-select #selected{
    font-weight: 500;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}
.language-select #to-select{
    font-weight: 100;
    display: flex;
    a {
        margin-left: 60px;
    }
    margin-top: 0px;
    margin-bottom: 0px;
}
